* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
}
html {
  min-height: 100%;
}
.menu {
  list-style: none;
  border-bottom: 10px solid #74c5f0;
  float: center;
  float: top;
  padding: 50px;
}

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.menu li a:hover {
  background: #333;
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #ccc;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 150px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2vw;
  padding: 200px 2vw;
}
.gallery-items {
  width: 240px;
  height: 240px;
  border: 10px solid #fff;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform 0.5s linear;
}
.gallery-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-items:hover {
  transform: scale(1.3);
}

.map-responsive iframe {
  width: 100%;
  height: 500px;
  border: #75c5f0, 80%, 70%);
}

.container {
  width: 1200px;
  /*margin-left: 150px;
  margin-right: 150px;*/
  position: relative;
  margin: 0 auto;
}

.texto {
  text-align: left;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn_social {
  position: absolute;
  top: 145px;
  right: 0px;

}

.map-responsive h1 {
  text-align: center;
  padding: 20px;
  border-bottom: 10px solid #75c5f0;
  text-transform: uppercase;
  
}

.map-responsive{
  margin-bottom: 100px;
}
